@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Reset Password</h3>
<form asp-action="ResetPassword">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Email" />

    <input type="hidden" asp-for="Token" />
    <div class="row">
        <div class="col-md-12 mb-4 pb-2">

            <div data-mdb-input-init class="form-outline">
                <input type="password" asp-for="Password" class="form-control form-control-lg" />
                <label class="form-label" asp-for="Password">Password</label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4 pb-2">

            <div data-mdb-input-init class="form-outline">
                <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
                <label class="form-label" asp-for="ConfirmPassword">ConfirmPassword</label>
            </div>

        </div>
    </div>

    <div class="mt-4 pt-2">
        <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </div>


</form>

