@model Employee
@{
    ViewData["Title"] = "Create";
    IEnumerable<Department> departments = (IEnumerable < Department >)TempData["Departments"];
}


<div class="container mt-5">
    <h2>Create Profile</h2>
    <form asp-action="Create">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="Age" class="form-label"></label>
            <input asp-for="Age" class="form-control" type="number" required>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" type="email" required>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="HirirngDate" class="form-label"></label>
            <input asp-for="HirirngDate" class="form-control" type="date" required>
        </div>
        <div class="mb-3">
            <label asp-for="Salary" class="form-label"></label>
            <input asp-for="Salary" class="form-control" type="number" step="0.01" required>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentId" class="form-label">Department</label>
            <select asp-for="DepartmentId" class="form-select">
                <option value="">Select Department</option>
                @foreach (var department in departments)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            </select>
        </div>
@*         <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label"></label>
            <input asp-for="ImageUrl" class="form-control" type="file" accept="image/*">
        </div> *@
        <button type="submit" class="btn btn-primary">Create Profile</button>
        <a asp-action="Index" class="btn btn-primary">Return</a>
    </form>
</div>