@model DepartmentDto
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Show Department @Model.Name</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-3">
                    <strong>Name:</strong>
                </div>
                <div class="col-sm-9">
                    @Model.Name
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <strong>Code:</strong>
                </div>
                <div class="col-sm-9">
                    @Model.Code
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <strong>CreatetAt:</strong>
                </div>
                <div class="col-sm-9">
                    @Model.CreatedAt
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-primary">Return</a>
        </div>
    </div>
</div>
